
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Segoe Ui'
}
body p {
	font-size: 18px;
}
h1 {
	font-weight: 300;
	font-size: 48px;
}

.flex {
	display: flex;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	/*background-color: #d2d2d2;*/
}


.back1 {
	background: radial-gradient(closest-corner circle at 70% 100%, #09c9f5, #00bbf1);
	border-top: 5px solid #eee;
}


.flex1 {
	flex-flow: row wrap;	
	justify-content: start-flex;
}
.flex1 div {
	flex: 1;
	padding: 20px 0;
}
.flex2 {
	justify-content: flex-end;
}
.flex2 img {
	padding-left: 8px; 
}
.flex2 span {
	padding-right: 7px;
	font-size: 16px;
	color: #b1b0b1; 
}


.test {
	display: flex;
	color: white;
	
}
.test p {
	padding-top: 20px;
}
.test div {
	flex: 1;

}
.test div img {
	width: 100%;
	padding: 20px;
}



.test2 {
	color: white;
	flex-flow: row wrap;
	align-content: center;
}



.flex3 {
	flex-flow: row wrap;	
	justify-content: space-between;
}
.flex3 div {
	flex: 1;
	max-width: 200px;
	
}
.flex3 div img {
	border: 2px solid #d7d7d7;
	filter: grayscale(100%);
}
.flex3 div p {
	font-weight: 600;
	font-size: 22px;
}

.flex3 div:hover img {
	border: 3px solid #7bb63c;
	filter: none;
/*	margin-bottom: -1px;*/
}
.flex3 div:hover p {
	color: #7bb63c;
}
.flex3 h1 {
	text-align: center; /*заменить стили*/
}



.back2 {
	background-color: rgb(0, 120, 215);
}
.flex4 div p {
	color: white;
}
.flex4 div span {
	color: rgb(197, 213, 51);
	font-weight: 600;
}

.flex4 div:first-child {
	flex: 1;
}

.flex4 div:last-child {
	flex: 6;
}



.flex5 div {
	color: rgb(0, 120, 215);
	border: 2px solid rgb(0, 120, 215);
	padding: 10px 20px;
	justify-content: space-between;
	font-weight: 600;
	margin: 10px;
}

.flex5 div:first-child {
	margin-left: 0;
}
.flex5 div:last-child {
	margin-right: 0;
}



.flex5 div:hover {
	border-color: rgb(123, 182, 60);
	color: white;
	background-color: rgb(123, 182, 60);
}



.flex6 div {
	flex-flow: row wrap;	
	justify-content: center;

}
.flex6 div span {
	font-weight: 600;
	font-size: 48px;
	color: white;
}

.circle {
	width: 70px;
	height: 70px;
	max-width: 70px;
	max-height: 70px;
	background: #00abec;
	border-radius: 50px;
}

.line {	
	position: absolute;
	background: #00abec;
	height: 3px;
	width: 80%; 
	left: 10%;
	top: 35px;
	margin: 0 auto;
	z-index: -1;
}
.flex6-1 {

	text-align: center;
	align-content: flex-start;

}
.flex6-1 div {
	

}


@media screen and (max-width: 900px)  {
	.flex3  {
		justify-content: center;
	}
	.flex3 div {
		margin: 0 10px;
	}
} 

@media screen and (max-width: 760px) {
	.flex4 div:first-child  {
		display: none;
	}

} 


/*@media screen and (max-width: 480px) {
	.container .cols {	width: 100% !important;}
	.steps p {font-size: 18px;}	
}

@media screen and (max-width: 1234px) and (min-width: 481px) {
	.small {width: 50% !important; }
	.company p {font-size: 16px;}
	.sources {height: auto; min-height: 100px; font-size: 18px;}
	.steps p {font-size: 16px;}
}


@media screen and (max-width: 760px) {
	.small {width: 100% !important; }
	.medium {width: 100% !important;}
	.sources {height: auto; min-height: 60px;}
	.line {display: none;}
	.steps p {font-size: 18px;}
	.social p {display: none;}

} 

@media screen and (max-width: 760px) and (min-width: 481px) {
	.large {width: 50% !important;}
} 

@media screen and (max-width: 960px) {
	.space{width: 100% !important;}
	.space img {display: none;}
	.mainblock .medium {width: 100% !important;}
	.mainblock {background: none; height: auto;}
	.mainblock h1 {margin: 10px 0}
	.back1 {height: auto;}
} 




*/